<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOHAMMMED VIQUAR AHMED</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/images/viq22.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/034d1222a9.js" crossorigin="anonymous"></script>
    <script src="//code.tidio.co/czse6jlmngbkqmmsrfhnv421bigetptc.js" async></script>
<!--    <script src="//code.tidio.co/osya9xyq7ohe5mshihdt7gzu3vyo1mny.js" async></script>-->
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
<!--                <img src="static/images/VIQUARLogo.png" class="logo" alt="logo">-->
                <img src="static/images/viq8.png" class="logo" alt="logo">
                <ul id="sidemenu">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#tech">Works</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-solid fa-xmark" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Web <span style="font-size:24px" class="and"> & </span> Python Developer</p>
                <h1>Hi, I'm <span>VIQUAR AHMED</span> <br> From India</h1>
            </div>
        </div>
    </div>
<!-- ------------------------  ABOUT ------------------------------------------ -->
<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="static/images/v1.JPG" alt="">
<!--                <img src="static/images/kram1.png" alt="">-->
                <!-- <img src="static/images/are6.jpeg" alt=""> -->
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>Hello Reader, I am <b>Mohammed  Viquar Ahmed</b> a 20yr old aspiring Computer Science Engineer. I'm very passionate about engineering, I learnt Front-End Development and Python
                    using HTML, CSS and JS. I am an optimist, spreading joy and happiness is my passion. I am very proficient speaker, orator and writer.
                    I love playing games in my leisure time and I always prioritize bringing value to anything I do. Maths and Science are one of my favourite subjects.
                    I have created this website to showcase my skills in front-end as well as a bit of back-end. </p>

                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('experiance')">Experiance</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                    <p class="tab-links" onclick="opentab('hobbies')">Hobbies</p>
                    <p class="tab-links" onclick="opentab('languages')">Languages</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span>Web Development</span><br>Designing Web/App Interfaces for Front-end and Back-end</li>
                        <li><span>Python Development</span><br>ML, AI and Data Analytics</li>
                        <li><span>Orator</span><br>Communation, Presentation and Management Skills</li>
                    </ul>
                </div>
                <div class="tab-contents" id="experiance">
                    <ul>
                        <li><span>2019-Current</span><br>Web Development</li>
                        <li><span>2019-Current</span><br>Python Development</li>
                        <li><span>2020-current</span><br>Java Developer</li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span>2019-2023</span><br>Pursuing B.E(CSE) from Lords Institute Of Engineering And Technology</li>
                        <li><span>2017-2019</span><br>Intermediate (MPC) from Iqbalia Junior College</li>
                        <li><span>2017</span><br>St. Anthony's Convent School (SSC)</li>
                    </ul>
                </div>
                <div class="tab-contents" id="hobbies">
                    <ul>
                        <li><span>Football</span><br>Love to play football with my friends</li>
                        <li><span>Speaker</span><br>Anchor at LIET</li>
                        <li><span>Gamer</span><br>FIFA</li>
                    </ul>
                </div>
                <div class="tab-contents" id="languages">
                    <ul>
                        <li><span>English</span><br>Fluent</li>
                        <li><span>Hindi</span><br>Fluent</li>
                        <li><span>Urdu</span><br>Fluent</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- -------------------------------- Services ------------------------------------------ -->
<div id="services">
    <div class="container">
        <h1 class="sub-title">My Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-sharp fa-solid fa-code"></i>
                <h2>Web Developer</h2>
                <p>I have always been interested in web development, and I have the necessary skills required for the role. 
                   I have a good understanding of HTML, CSS, JavaScript, and Jqueries. 
                   I am currently improving my web app development skills by learning various new technologies.</p>
                <a href="https://github.com/microsoft/Web-Dev-For-Beginners"  target="_blank">Learn more</a>
            </div>

            <div>
                <i class="fa-brands fa-python"></i>
                <h2>Python Developer</h2>
                <p>Used OpenCV and Mediapipe libraries to develop  AI based projects.
                    I have worked on different real time python projects based on AI and Object Detection.
                    Used Selenium  and beautiful soup to automate and scrape websites.
                    Scraped websites to save time to get the desired information from website to machine console.
                </p>
                <a href="https://github.com/xxg1413/python"  target="_blank">Learn more</a>
            </div>

            <div>
                <i class="fa-solid fa-file-code"></i>
                <h2>JAVA Developer</h2>
                <p>Have good understanding about DSA and programming on coding websites to solve complex DSA problems.
                    Like: LeetCode, HackerRank, HackerEarth, CodeChef, etc.
                </p>
                <a href="https://github.com/Prince-1501/Complete-DSA-Preparation"  target="_blank">Learn more</a>
            </div>

        </div>
    </div>
</div>

<!-- ---------------------------------------- TECH STACK ------------------------ -->

<div id="tech">
    <div class="container">
        <h1 class="sub-title">My Tech Stack</h1>
        <div class="services-list">
            <div>
                <i class="fa-brands fa-html5"></i>
                <h2>HTML 5</h2>
                <p>HTML5 is no longer just a website builder. It's an entire application builder on its own. Rather than the next update coming out as “HTML6,” HTML5 is continually updated as a living standard evolving as the web needs.</p>
                <a href="https://www.w3schools.com/html/"  target="_blank">Learn more</a>
            </div>

            <div>
                <i class="fa-brands fa-css3-alt"></i>
                <h2>CSS 3</h2>
                <p>CSS3 stands for Cascading Style Sheet level 3, which is the advanced version of CSS. It is used for structuring, styling, and formatting web pages</p>
                <a href="https://www.w3schools.com/css/"  target="_blank">Learn more</a>
            </div>

            <div>
                <i class="fa-brands fa-square-js"></i>
                <h2>JavaScript</h2>
                <p>JavaScript is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else.</p>
                <a href="https://www.w3schools.com/js/" target="_blank">Learn more</a>
            </div>

            <div>
                <i class="fa-brands fa-python"></i>
                <h2>Python</h2>
                <p>Python is a very popular general-purpose interpreted, interactive, object-oriented, and high-level programming language. Python is dynamically-typed and garbage-collected programming language. It was created by Guido van Rossum during 1985- 1990.</p>
                <a href="https://www.python.org/" target="_blank">Learn more</a>
            </div>

            <div>
                <i class="fa-brands fa-bootstrap"></i>
                <h2>Bootstrap</h2>
                <p>Bootstrap utilizes Sass for a modular and customizable architecture. Import only the components you need, enable global options like gradients and shadows, and write your own CSS with our variables, maps, functions, and mixins.</p>
                <a href="https://getbootstrap.com/"  target="_blank">Learn more</a>
            </div>

<!--            <div>-->
<!--                <i class="fa-solid fa-laptop-code"></i>-->
<!--                <h2>Coder</h2>-->
<!--                <p>I'm familiar with C, C++, Java and Python (Proficient). <br><br> A programmer or developer writes instructions describing the information and tasks needed to create a visual or to perform a task. Computers scan extensive coded manuals very quickly, executing the tasks that create and run a successful website or application. </p>-->
<!--                <a href="https://www.computerscience.org/"  target="_blank">Learn more</a>-->
<!--            </div>-->

            <div>
                <i class="fa-solid fa-laptop-code"></i>
                <h2>Coder</h2>
                <p>I'm familiar with Java, C, C++ and Python. <br><br> A programmer or developer writes instructions describing the information and tasks needed to create a visual or to perform a task. Computers scan extensive coded manuals very quickly, executing the tasks that create and run a successful website or application. </p>
                <a href="https://www.computerscience.org/"  target="_blank">Learn more</a>
            </div>


            <!-- <div>
                <i class="fa-solid fa-laptop-code"></i>
                <h2>Intership Presentation</h2>
                <p>Completed Web Development internship from "Rejolt Edtech" </p>
                <a href="https://www.computerscience.org/"  target="_blank">Learn more</a>
            </div> -->

        </div>
    </div>
</div>


<!-- --------------------------------------  PORTFOLIO ------------------------- -->

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <div class="work-list">
            <div class="work">
                <img src="static/images/AIVM.jpg" alt="work1">
                <div class="layer">
                    <h3 style="font-weight:  bold;">AI Virtual Mouse</h3>
                    <p>Without using mouse you can access mouse functionality on computer by using your hand through webcam.</p>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="static/images/AIP.jpg" alt="work1">
                <div class="layer">
                    <h3 style="font-weight:  bold;">AI Virtual Paint</h3>
                    <p>You can paint or draw on your monitor by using your fingers through webcam.</p>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="static/images/AIKB.jpg" alt="work1">
                <div class="layer">
                    <h3 style="font-weight:  bold;">AI Virtual  Keyboard</h3>
                    <p>used to type the  words on console by using your fingers through  webcam.</p>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="static/images/HNg.png" alt="work1">
                <div class="layer">
                    <!-- <h3>Scraped <span style="font-weight: bold; color:#fff; font-size:16px"><a href="https://news.ycombinator.com/">"Hacker News"</a></span> Website</h3> -->
                    <!-- <h3>Scraped <a href="https://news.ycombinator.com/">"Hacker News"</a>Website</h3> -->
                    <h3 style="font-weight:  bold;">Scraped "Hacker News" Website</h3>

                    <p>Used to get the latest news about tech industry on your computer console at just one click.</p>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="static/images/hibpwnd.jpg" alt="work2">
                <div class="layer">
                    <h3 style="font-weight:  bold;">Scraped "haveibeenpwned" website</h3>
                    <p>Used to check that your password/email has been breached online or not on your machine console.</p>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="static/images/hbdtn.jpeg" alt="work3">
                <div class="layer">
                    <h3 style="font-weight:  bold;">Face And Body Action Detection</h3>
                    <p>Used to detect Face and Body Action of a person through webcam</p>
                    <a href="https://github.com/Viquarpro12"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="work">
                <img src="static/images/internship.jpg" alt="work3">
                <div class="layer">
                    <h3 style="font-weight:  bold;">Internship Presentation</h3>
                    <p>Completed Web Development Internship from <br> <span style="font-weight: bold; color: white;">"Rejolt Edtech"</span></p>
                    <a href="static/images/Viquar110IntershipPPT.pptx" download><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="static/images/Certifications.png" alt="work3">
                <div class="layer">
                    <h3 style="font-weight:  bold;">Certifications</h3>
                    <p>Here is a list of my all achievements.</span></p>
                    <a href="https://drive.google.com/drive/folders/1-fADAvFwBoodS5_rknS1LS5fkaklTsYq" target="_blank"><i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
            </div>

        </div>
        <a href="https://github.com/MOHAMMEDTANVEEROWAIS?tab=repositories" class="btn" target="_blank">See more</a>
        
    </div>
</div>

<!-- ------------------------------  CONTACT ---------------------------------------- -->
<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p class="em"><i class="fa-solid fa-paper-plane"></i> viquar4u2@gmail.com</p>
                <p><i class="fa-sharp fa-solid fa-phone"></i> +91 9573408934</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/mohammed-viquar-ahmed-a363841b5/"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>
<!--                    <a href="https://www.linkedin.com/in/mirza-akramullah-baig-27b380238"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>-->
                    <a href="https://twitter.com/_viquarahmed_12"   target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
<!--                    <a href="https://twitter.com/realMirzAkram?t=47K5HoEBIPbzRPwxt0k5ZQ&s=08"   target="_blank"><i class="fa-brands fa-twitter-square"></i></a>-->
<!--                    <a href="https://www.instagram.com/ramiz.karma/" target="_blank"><i class="fa-brands fa-instagram"></i></a>-->
                    <a href="https://www.instagram.com/viquar.ahmxd.12/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-brands fa-github"></i></a>
<!--                    <a href="https://www.snapchat.com/add/krisscreme?share_id=1AfgHHs-4RU&locale=en-GB"  target="_blank"><i class="fa-brands fa-square-snapchat"></i></a>-->
                </div>
                <a href="static/images/Viquar's Résumé.pdf" download class="btn btn2">Download CV</a>
<!--                <a target="_blank" href="https://milaap.org/fundraisers/support-mohammed-tanveer-owais/deeplink?deeplink_type=paytm" download class="btn btn2">Donate Us</a>-->
            </div>
            <div class="contact-right">
                <form action="submit_form" method="post" name="submit-to-google-sheet">
                    <input type="text" name="Name"  placeholder="Your Name" required>
                    <input type="email" name="Email" placeholder="Your Email" required>
                    <!-- <input type="number" name="phone" placeholder="Your Phone Number" required> -->
                    <textarea name="Message"  rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
                <span id="msg"></span>
            </div>
        </div>
    </div>
    <div class="copyright">
         <p>Copyright © <span>VIQUAR</span>. Made with <i class="fa-solid fa-heart"></i> by <span font-color="#ff004f">MOHAMMED VIQUAR AHMED</span></p>
    </div>
</div>

<script>
    var tablinks = document.getElementsByClassName("tab-links");
    var tabcontents = document.getElementsByClassName("tab-contents");
    function opentab(tabname){
        for(tablink of tablinks){
            tablink.classList.remove("active-link");
        }
        for(tabcontent of tabcontents){
            tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab");
    }
</script>

<script>
    var sidemenu = document.getElementById("sidemenu");

    function openmenu(){
        sidemenu.style.right = "0";
    }
    function closemenu(){
        sidemenu.style.right = "-200px";
    }

</script>

</body>
</html>