<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOHAMMED VIQUAR AHMED</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/images/viq22.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/034d1222a9.js" crossorigin="anonymous"></script>
</head>
<body>

<!--<div id="thankmsg">-->
<!--    <div class="container">-->
<!--        <h3 class="thanktext">Form submitted sucessfully.</h3>-->
<!--        <p>Your response has been recorded, We will get in touch with you shortly.</p>-->
<!--        <button type="submit" class="btn btn2 btn3"><a href="index.html">Back to Home</a></button>-->
<!--    </div>-->
<!--</div>-->

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Form Submitted Successfully.</h1>
                <p>We will get in touch with you shortly.</p>
                <a href="index.html" class="btn btn2">Back to Home</a>
                <p class="em"><i class="fa-solid fa-paper-plane"></i> viquar4u2@gmail.com</p>
                <p><i class="fa-sharp fa-solid fa-phone"></i> +91 9573408934</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/mohammed-viquar-ahmed-a363841b5/"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>
<!--                    <a href="https://www.linkedin.com/in/mirza-akramullah-baig-27b380238"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>-->
                    <a href="https://twitter.com/_viquarahmed_12"   target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
<!--                    <a href="https://twitter.com/realMirzAkram?t=47K5HoEBIPbzRPwxt0k5ZQ&s=08"   target="_blank"><i class="fa-brands fa-twitter-square"></i></a>-->
<!--                    <a href="https://www.instagram.com/ramiz.karma/" target="_blank"><i class="fa-brands fa-instagram"></i></a>-->
                    <a href="https://www.instagram.com/viquar.ahmxd.12/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/Viquarpro12"  target="_blank"><i class="fa-brands fa-github"></i></a>
<!--                    <a href="https://www.linkedin.com/in/mirza-akramullah-baig-27b380238"  target="_blank"><i class="fa-brands fa-linkedin"></i></a>-->
<!--                    <a href="https://twitter.com/realMirzAkram?t=47K5HoEBIPbzRPwxt0k5ZQ&s=08"   target="_blank"><i class="fa-brands fa-twitter-square"></i></a>-->
<!--                    <a href="https://www.instagram.com/ramiz.karma/" target="_blank"><i class="fa-brands fa-instagram"></i></a>-->
<!--                    <a href="https://www.snapchat.com/add/krisscreme?share_id=1AfgHHs-4RU&locale=en-GB"  target="_blank"><i class="fa-brands fa-square-snapchat"></i></a>-->
                </div>
<!--                <a href="static/images/Akram_Resume.pdf" download class="btn btn2">Download CV</a>-->
<!--                <a target="_blank" href="https://milaap.org/fundraisers/support-mohammed-tanveer-owais/deeplink?deeplink_type=paytm" download class="btn btn2">Donate Us</a>-->
            </div>
<!--            <div class="contact-right">-->
<!--                <form action="submit_form" method="post" name="submit-to-google-sheet">-->
<!--                    <input type="text" name="Name"  placeholder="Your Name" required>-->
<!--                    <input type="email" name="Email" placeholder="Your Email" required>-->
<!--                    &lt;!&ndash; <input type="number" name="phone" placeholder="Your Phone Number" required> &ndash;&gt;-->
<!--                    <textarea name="Message"  rows="6" placeholder="Your Message"></textarea>-->
<!--                    <button type="submit" class="btn btn2">Submit</button>-->
<!--                </form>-->
<!--                <span id="msg"></span>-->
<!--            </div>-->
        </div>
    </div>
    <div class="copyright">
<!--         <p>Copyright © <span>AKRAM</span>. Made with <i class="fa-solid fa-heart"></i> by <span font-color="#ff004f">MIRZA AKRAM ULLAH BAIG</span></p>-->
        <p>Copyright © <span>VIQUAR</span>. Made with <i class="fa-solid fa-heart"></i> by <span font-color="#ff004f">MOHAMMED VIQUAR AHMED</span></p>

    </div>
</div>


</body>
</html>